




/* GENERIC ============================================================================= */

.wrapper {
    margin: 0 auto;
    padding: 0 20px;
}
.pos-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.hide {
    display: none !important;
}





/* NAV ============================================================================= */
 .nav-wrapper {
    padding: 0;
}
.nav-wrapper.stuck {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    z-index: 50;
    padding-bottom: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.nav-wrapper.stuck .site-nav {
    padding: 15px 0;
    padding-bottom: 17px;
}
.nav-wrapper hr {
    margin: 0;
    border: none;
    border-bottom: 1px solid #111;
}
.nav-wrapper .tiny-logo {
    display: none;
}
.site-nav {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
}
.site-nav ul {
    display: none;
}
.nav-mobile {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 34px;
}
.nav-mobile .mobile-nav-trigger {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family:"Gill Sans W04 Book", "Gill Sans", Helvetica, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 34px;
    letter-spacing: 0.2em;
    border: 1px solid #111;
}
.mobile-nav-dropdown {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 0;
    width: 100%;
    border: 1px solid #111;
    background: #f9f8f2;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    z-index: 100;
}
.mobile-nav-dropdown li {
    text-align: center;
}
.mobile-nav-dropdown a {
    display: block;
    font-size: 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 34px;
    letter-spacing: 0.2em;
}



.site-nav {
    display: table;
}
.site-nav ul {
    display: table-row;
    margin: 0 auto;
    max-width: 750px;
}
.site-nav li {
    display: table-cell;
    margin: 0;
    text-align: center;
}
.site-nav li.bullet {
    padding: 0 12px;
    padding-top: 9px;
    min-width: 28px;
    background: transparent url("/images/misc/nav-bullet.png") no-repeat center;
    text-indent: -9999em;
    -moz-box-sizing: border-box;
}
.site-nav a {
    position: relative;
    font-size: 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 24px;
    color: #111;
    text-decoration: none;
    font-family: Gill Sans W04 Book, helvetica, arial;
}
.site-nav a .underline {
    position: absolute;
    bottom: -3px;
    display: block;
    width: 0%;
    height: 1px;
    background-color: #111;
    transition: width 0.3s ease-in-out;
}
.site-nav a:hover .underline, .site-nav li.active .underline {
    width: 100%;
}
.nav-wrapper.stuck .site-nav {
    padding: 15px 0;
}
.nav-mobile {
    display: none;
}

@font-face{
font-family:"Gill Sans W04 Book";
src:url("http://fast.fonts.net/dv2/ot/3/63aa9f40-04be-453a-a672-aa8f9919115d.woff?d44f19a684109620e484157aa590e818eb7ed89d17de796525da979ceba5c85e3ed4ebb795b5812efd9b7e62cac4d2aae5e6171ff254eb751aa571385e1fe6ddb0d40e43935d3b7c5ba012240d3ab9bd7882527be81814e053b35f0eca6d35edbeac10df595cf74bf762af7d383d29163365851ac5bf889c2294e717a7329f53a4c490b2&projectId=36f5a79f-60ff-4484-9e3a-8dcf0211bd10") format('woff');}
@font-face{
font-family:"Gill Sans W04 Roman";
src:url("http://fast.fonts.net/dv2/ot/3/39ede25d-544d-4537-8668-3e9af68a26ec.woff?d44f19a684109620e484157aa590e818eb7ed89d17de796525da979ceba5c85e3ed4ebb795b5812efd9b7e62cac4d2aae5e6171ff254eb751aa571385e1fe6ddb0d40e43935d3b7c5ba012240d3ab9bd7882527be81814e053b35f0eca6d35edbeac10df595cf74bf762af7d383d29163365851ac5bf889c2294e717a7329f53a4c490b2&projectId=36f5a79f-60ff-4484-9e3a-8dcf0211bd10") format('woff');}
