/* HEADER ============================================================================= */
.site-header h1, .site-header h1 a
{
    width: 464px;
    height: 139px;
}

.site-header h1
{
    padding: 20px 0;
   /* padding-bottom: 75px;*/
}

.site-header h1 a
{
    background: transparent url(/images/header/logo464.png) no-repeat;
}


/* NAV ============================================================================= */
.site-nav
{
    display: table;
    padding-bottom: 50px;
}
    
    .site-nav ul
    {
        display: table-row;
        margin: 0 auto;
        max-width: 750px;
    }
    
    .site-nav li
    {
        display: table-cell;
        margin: 0;
        text-align: center;
    }
    
    .site-nav li.bullet
    {
        padding: 0 12px;
        padding-top: 9px;
        min-width: 28px;
        background: transparent url(/images/misc/nav-bullet.png) no-repeat center;
        text-indent: -9999em;
        box-sizing: border-box;
    }
    
    .site-nav a
    {
        position: relative;
        font-size: 18px;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        line-height: 24px;
        color: #111;
        text-decoration: none;
    }
        
        .site-nav a .underline
        {
            position: absolute;
            bottom: -3px;
            display: block;
            width: 0%;
            height: 1px;
            background-color: #111;
            transition: width 0.3s ease-in-out;
        }
        
        .site-nav a:hover .underline, .site-nav li.active .underline
        {
            width: 100%;
        }
        
.nav-wrapper.stuck .site-nav
{
    padding: 15px 0;
}

.nav-mobile
{
    display: none;
}


/* FOOD ============================================================================= */
.menu
{
    margin: 0 30px;
}

.menu-wrapper
{
    padding: 50px 10.5% 30px 10.5%;
}


/* FOOTER ============================================================================= */
.site-footer
{
    margin-top: 130px;
}
    
    .site-footer p
    {
        padding: 0 40px;
    }